body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: white;
  border-radius: 1em;
  width: 320px;
  height: 500px;
}

.card-img {
  padding: 1em;
}
.card-img img {
  width: 100%;
  border-radius: 1em;
}

.card-text {
  width: auto;
  padding: 1em;
  text-align: center;
  padding: 0 2em;
}
.card-text h1 {
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}
