//320x500
.card {
  background-color: $white;
  width: 320px;
  height: 500px;
  border-radius: 1em;
}

.card-img {
  padding: 1em;
  img {
    width: 100%;
    border-radius: 1em;
  }
}

.card-text {
  width: auto;
  padding: 1em;
  text-align: center;
  h1 {
    font-size: 20px;

  }
}
